<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'cocktails.jpg' %>');">
  <div class="banner-content">
    <h1>All cocktails</h1>
    <p>Drunk cocktails</p>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-secondary btn-lg" %>
  </div>
</div>

<div class="container">
  <ul>
    <% @cocktails.each do |cocktail| %>
      <div class="card-product">
        <li><%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %></li>
        <div class="card-product-infos">
          <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
        </div>
      </div>
    <% end %>
  </ul>
</div>


<%= link_to '     Add a cocktail', new_cocktail_path  %>
